<h1 style="margin: auto; width: 220px;">친구 찾기</h1>
<br>

<form action="/addFriends" method="POST">
    <div class="main">
        <div><input style="width: 450px; height: 50px; border-radius: 0%; border: solid lightgray 2px;" type="text" name="friend" placeholder="이메일 또는 닉네임으로 검색"></div>
    </div>
    </form>


    <% if(friends){ %>
        <% Array.from(friends).forEach(friend => { %>
            <div class="main">
                <div style="width: 450px; height: 50px; border-radius: 0%; border: solid lightgray 2px; display: flex; align-items: center; justify-content: space-between;">
                    <span><%= friend %></span>
                    <form action="/addFriends" method="POST" style="margin: 0;">
                        <input type="hidden" name="request" value="<%= request %>">
                        <button type="submit">친구 요청</button>
                    </form>
                </div>
            </div>
        <% }) %>
    <% } %> 
     