<<<<<<< HEAD
<div style="width: 100%; height: 100%; background-color: #2d2d2d;">
    <header>
        <div>
            <img style="cursor: default;" onclick="location.href='information.ejs';" class="top_infor" src="image/User_cicrle_light.png" alt="">
            <div class="current_page">RUNUS</div>
        </div>
    </header>
    <nav>
        <div class="comunity_nav">
            <div style="color: #ffffff; border-bottom: solid #747474 2px; cursor: default;" onclick="location.href='/community';">나의 러닝메이트</div>
            <div style="cursor: default;" onclick="location.href='/community_1';">러닝 코스</div>
            <div style="cursor: default;" onclick="location.href='/community_2';">게시판</div>
        </div>
    </nav>
    <section>
        <div style="padding-top: 25px;">
            <div class="comunity1_section1">
                <div style="width: 123px; height: 98px; border-radius: 10px; background-color: #D6FFF8; display: flex; justify-content: center; align-items: center;">
                    <img src="image/Group 32.png" alt="">
                </div>
                <div style="font-size: 20px; font-weight: 600; color: #FFFFFF;">
                    <div>끝까지 달리는 러너</div>
                    <div><span style="font-size: 24px; font-weight: 700; color: #66FFE3;">XXX</span> 님, 반가워요!</div>
                    <div style="font-size: 16px; font-weight: 500;">나의 러닝 온도 <span style="font-weight: 400; color: #66FFE3;">xx°</span></div>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px; padding-top: 30px;">
                <div style="font-size: 20px; font-weight: 600; color: #CAFFF7;">나의 러닝메이트</div>
                <div style="color: #E4F2F0; font-size: 14px;">더보기 ></div>
            </div>
            <div style="display: flex; justify-content: space-between; margin-left: 20px; margin-right: 20px; margin-top: 15px;">
                <div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                </div>
                <div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="image/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                </div>
            </div>
            <div style="font-size: 20px; font-weight: 600; margin-left: 20px; margin-top: 20px; color: #CAFFF7;">러닝메이트 추가하기</div>
            <div style="display: flex; justify-content: space-between; margin-left: 20px; margin-right: 20px; margin-top: 20px;">
                <div class="comunity1_article2">
                    <div>우리동네</div>
                    <div>러닝메이트 찾기</div>
                    <div style=" display: flex; justify-content: right;">
                        <img src="image/Vector 450.png" alt="">
                    </div>
                </div>
                <div class="comunity1_article2">
                    <div>취향에 맞는</div>
                    <div>러닝메이트 찾기</div>
                    <div style=" display: flex; justify-content: right;">
                        <img src="image/Vector 450.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="d_under_nav">
            <div style="cursor: default;" onclick="location.href='home.ejs';">
                <img style=" width: 35px; height: 35px;" src="image/Home_light.png" alt="">
            </div>
            <div style="cursor: default;" onclick="location.href='community.ejs';">
                <img style=" width: 35px; height: 35px;" src="image/Group_light.png" alt="">
            </div>
            <div style="cursor: default;" onclick="location.href='mywrite.html';">
                <img style=" width: 35px; height: 35px;" src="image/Chart_light.png" alt="">
            </div>
            <div style="cursor: default;" onclick="location.href='mysetting.html';">
                <img style=" width: 35px; height: 35px;" src="image/Setting_line_light.png" alt="">
            </div>
        </div>
    </footer>
</div>