<div class="comunity_nav">
    <div style="cursor: default;" onclick="location.href='/community';">나의 러닝메이트</div>
    <div style="cursor: default;" onclick="location.href='/community_1';">러닝 코스</div>
    <div style="color: black; border-bottom: solid black 2px; cursor: default;" onclick="location.href='/community_2';">게시판</div>
</div>
<div style="padding-top: 30px;">
    <div style="display: flex; justify-content: space-between; padding-left: 10px; padding-right: 10px;">
        <div style="font-size: 20px; font-weight: 600;">게시판</div>
        <div>더보기 ></div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div style="text-align: center;">
            <div class="board_menu"></div>
            <div>자유게시판</div>
        </div>
        <div style="text-align: center;">
            <div class="board_menu"></div>
            <div>대회 일정</div>
        </div>
        <div style="text-align: center;">
            <div class="board_menu"></div>
            <div>코스 공유</div>
        </div>
        <div style="text-align: center;">
            <div class="board_menu"></div>
            <div>러닝 팁</div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; margin-top: 15px;">
        <div class="board_serve">즐겨찾기</div>
        <div class="board_serve">숨겨진 게시판</div>
    </div>
    <div style="padding: 10px; margin-top: 15px; font-size: 20px; font-weight: 600;">오늘의 인기글</div>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <div style="background-color: #FFFFD2;" class="board_write">
            <div>인기 게시물 제목이 노출됩니다</div>
            <div>인기 게시물 내용 첫줄이 노출됩니다. 인기 게 ...</div>
        </div>
        <div style="background-color: #FFFFE9;" class="board_write">
            <div>인기 게시물 제목이 노출됩니다</div>
            <div>인기 게시물 내용 첫줄이 노출됩니다. 인기 게 ...</div>
        </div>
        <div style="background-color: #FFFFFA;" class="board_write">
            <div>인기 게시물 제목이 노출됩니다</div>
            <div>인기 게시물 내용 첫줄이 노출됩니다. 인기 게 ...</div>
        </div>
    </div>
</div>