<div style="width: 100%; height: 844px; background-color: #2d2d2d;">
    <nav>
        <div class="comunity_nav">
            <div style="cursor: default;" onclick="location.href='/friends';">나의 러닝메이트</div>
            <div style="cursor: default;" onclick="location.href='/course';">러닝 코스</div>
            <div style="color: #ffffff; border-bottom: solid #747474 2px; cursor: default;" onclick="location.href='/community';">게시판</div>
        </div>
    </nav>
    <section>
        <div style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px; padding-top: 30px;">
            <div style="font-size: 20px; font-weight: 600; color: #CAFFF7;">게시판</div>
            <div style="color: #E4F2F0; font-size: 14px;">더보기 ></div>
        </div>
        <div style="display: flex; justify-content: space-between; margin-left: 20px; margin-right: 20px;">
            <div class="board_menu1">
                <div class="board_menu2" onclick="location.href='/free_board';">
                    <div style="width: 50px; height: 50px;"><img src="images/Chat_alt_light.png" alt=""></div>
                </div>
                <div>자유게시판</div>
            </div>
            <div class="board_menu1">
                <div class="board_menu2">
                    <div style="width: 50px; height: 50px;"><img src="images/notebook_light.png" alt=""></div>
                </div>
                <div>대회 일정</div>
            </div>
            <div class="board_menu1">
                <div class="board_menu2">
                    <div style="width: 50px; height: 50px;"><img src="images/Send_light.png" alt=""></div>
                </div>
                <div>코스 공유</div>
            </div>
            <div class="board_menu1">
                <div class="board_menu2">
                    <div style="width: 50px; height: 43px;"><img src="images/Vector.png" alt=""></div>
                </div>
                <div>러닝 팁</div>
            </div>
        </div>
        <div style="font-size: 20px; font-weight: 600; margin-left: 20px; margin-top: 35px; color: #CAFFF7;">오늘의 인기글</div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 15px;">
            <div class="board_write1">
                <div style="width: 30px;">∧ 2</div>
                <div style="display: flex; flex-direction: column;">
                    <div>인기 게시물 제목이 노출됩니다</div>
                    <div>인기 게시물 내용 첫줄이 노출됩니다. 인기 게 ...</div>
                </div>
            </div>
            <div class="board_write1">
                <div style="width: 30px;">  </div>
                <div style="display: flex; flex-direction: column;">
                    <div>인기 게시물 제목이 노출됩니다</div>
                    <div>인기 게시물 내용 첫줄이 노출됩니다. 인기 게 ...</div>
                </div>
            </div>
            <div class="board_write1">
                <div style="width: 30px;">∨ 1</div>
                <div style="display: flex; flex-direction: column;">
                    <div>인기 게시물 제목이 노출됩니다</div>
                    <div>인기 게시물 내용 첫줄이 노출됩니다. 인기 게 ...</div>
                </div>
            </div>
        </div>
    </section>
</div>