<div class="comunity_nav">
    <div style="cursor: default;" onclick="location.href='/community';">나의 러닝메이트</div>
    <div style="color: black; border-bottom: solid black 2px; cursor: default;" onclick="location.href='/community_1';">러닝 코스</div>
    <div style="cursor: default;" onclick="location.href='/community_2';">게시판</div>
</div>
<div style="padding-top: 30px;">
    <div style="display: flex; justify-content: space-between; padding-left: 10px; padding-right: 10px;">
        <div style="font-size: 20px; font-weight: 600;">나의 러닝코스 1</div>
        <div>더보기 ></div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
        <div class="myCurrentRecord_1">
        </div>
        <div class="myCurrentRecord">
            <div>러닝코스 2</div>
            <div>...</div>
        </div>
        <div class="myCurrentRecord">
            <div>러닝코스 3</div>
            <div>...</div>
        </div>
    </div>
    <div class="runningcourse_main">
        <div class="courseshare">나의 러닝코스 더보기</div>
        <div class="courseshare">러닝코스 공유하기</div>
    </div>
</div>