<div style="width: 100%; height: 1100px; background-color: #2d2d2d;">
    <nav>
        <div class="comunity_nav">
            <div style="cursor: default;" onclick="location.href='/friends';">나의 러닝메이트</div>
            <div style="color: #ffffff; border-bottom: solid #747474 2px; cursor: default;" onclick="location.href='/course';">러닝 코스</div>
            <div style="cursor: default;" onclick="location.href='/community';">게시판</div>
        </div>
    </nav>
    <div style="font-family: Pretendard Variable; font-size: 20px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; color: #A4E3D8; margin-left: 25px; padding-top: 30px;">러닝 코스 공유하기</div>
    <div class="container-options" style="margin-top: 20px; background-color: #698882; border-radius: 999px; margin: 7%; width: 300px; height: 33px; margin-left: 20px;">
        <button class="option-button" value="0" style="font-family: Pretendard Variable; font-size: 15px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; color: #595959;">
            나의 러닝코스 공유
        </button>
        <button class="option-button" value="1" style="font-family: Pretendard Variable; font-size: 15px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; color: #595959;">
            새로운 코스 공유
        </button>
    </div>
    <div id="section-mine" class="content-section">
        <div style="display: flex; justify-content: center;">
            <div style="background-color: #777777; width: 341px; height: 100px; border-radius: 10px; margin-top: 15px;">
                <div style="display: flex; justify-content: center; margin-top: 22px;">
                    <div style="font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        러닝코스 1
                    </div>
                    <div style="margin-left: 180px; font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        ...
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="background-color: #A4E3D84D; width: 155px; height: 30px; border-radius: 999px; margin-top: 15px; margin-left: 20px;font-family: Pretendard Variable;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: -0.5px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    ">
                        <div style="display: flex;">
                            <div style="margin-top: 6px; color: #E8FFFCE5; margin-left: 7px;">
                                반포한강공원 > 여의도
                            </div>
                        </div>
                        
                        </div>
                    <div>
                        <img style="margin-top: 18px; margin-left: 120px;" src="images/Out_light.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="background-color: #777777; width: 341px; height: 100px; border-radius: 10px; margin-top: 15px;">
                <div style="display: flex; justify-content: center; margin-top: 22px;">
                    <div style="font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        러닝코스 2
                    </div>
                    <div style="margin-left: 180px; font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        ...
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="background-color: #A4E3D84D; width: 155px; height: 30px; border-radius: 999px; margin-top: 15px; margin-left: 20px;font-family: Pretendard Variable;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: -0.5px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    ">
                        <div style="display: flex;">
                            <div style="margin-top: 6px; color: #E8FFFCE5; margin-left: 7px;">
                                반포한강공원 > 여의도
                            </div>
                        </div>
                        
                        </div>
                    <div>
                        <img style="margin-top: 18px; margin-left: 120px;" src="images/Out_light.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="background-color: #777777; width: 341px; height: 100px; border-radius: 10px; margin-top: 15px;">
                <div style="display: flex; justify-content: center; margin-top: 22px;">
                    <div style="font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        러닝코스 3
                    </div>
                    <div style="margin-left: 180px; font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        ...
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="background-color: #A4E3D84D; width: 155px; height: 30px; border-radius: 999px; margin-top: 15px; margin-left: 20px;font-family: Pretendard Variable;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: -0.5px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    ">
                        <div style="display: flex;">
                            <div style="margin-top: 6px; color: #E8FFFCE5; margin-left: 7px;">
                                반포한강공원 > 여의도
                            </div>
                        </div>
                        
                        </div>
                    <div>
                        <img style="margin-top: 18px; margin-left: 120px;" src="images/Out_light.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div style="background-color: #777777; width: 341px; height: 100px; border-radius: 10px; margin-top: 15px;">
                <div style="display: flex; justify-content: center; margin-top: 22px;">
                    <div style="font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        러닝코스 4
                    </div>
                    <div style="margin-left: 180px; font-family: Pretendard Variable; font-size: 19px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: center; text-underline-position: from-font; text-decoration-skip-ink: none; color: #E8FFFC;">
                        ...
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="background-color: #A4E3D84D; width: 155px; height: 30px; border-radius: 999px; margin-top: 15px; margin-left: 20px;font-family: Pretendard Variable;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: -0.5px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    ">
                        <div style="display: flex;">
                            <div style="margin-top: 6px; color: #E8FFFCE5; margin-left: 7px;">
                                반포한강공원 > 여의도
                            </div>
                        </div>
                        
                        </div>
                    <div>
                        <img style="margin-top: 18px; margin-left: 120px;" src="images/Out_light.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div id="section-new" class="content-section">
        <div style="display: flex; justify-content: center;">
            <div style="background-color: #D9D9D9; width: 341px; height: 427px; border-radius: 10px; margin-top: 15px;">
                
            </div>
        </div>
    </div>
    <div style="width: 296px; height: 550px; background-color: #424242; justify-content: right; padding-top: 20px; border-radius: 0 0 0 10px;" id="hamburger" class="modal">
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
        <div onclick="location.href='/information';" style="margin-top: 7px; margin-left: 23px; color: #D9D9D9; ">
            나의 러닝프로필
        </div>
        <div onclick="location.href='/friends';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                나의 러닝메이트
            </div>
            <div onclick="location.href='/course';"style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                러닝코스
            </div>
            <div onclick="location.href='/community';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                게시판
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="images/Line 3.png" alt="" style="margin-top: 35px;">
        </div>
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
            <div onclick="location.href='/record';" style="margin-top: 35px; margin-left: 23px; color: #D9D9D9;">
                나의 러닝기록
            </div>
            <div onclick="location.href='/gps';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                GPS
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="images/Line 3.png" alt="" style="margin-top: 35px;">
        </div>
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
            <div onclick="location.href='/setting';"style="margin-top: 35px; margin-left: 23px; color: #D9D9D9;">
                설정
            </div>
            <div onclick="location.href='/login';"style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                로그아웃
            </div>
        </div>
    <script src="js/buttton.js"></script>
</div>