<div id="map" style="width:500px;height:400px;"></div>
<script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=61b19c021919a02b04aee285f2550b3a&libraries=services,clusterer,drawing"></script>
<script>
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = {
            center: new kakao.maps.LatLng(37, 127), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
    
    var line = <%- JSON.stringify(line) %>;
    var center = <%- JSON.stringify(center) %>;

    map.setCenter(new kakao.maps.LatLng(center.ma, center.la));
    var linePath = [];
    for(var i=0;i<line.length;i++){
        linePath[i] = new kakao.maps.LatLng(line[i].ma,line[i].la);
    }
    // console.log("linePath : "+linePath);
    var polyline = new kakao.maps.Polyline({
        map: map, // 선을 표시할 지도입니다 
        path: linePath, // 선을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
        strokeWeight: 3, // 선의 두께입니다 
        strokeColor: '#db4040', // 선의 색깔입니다
        strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid' // 선의 스타일입니다
    });
    polyline.setMap(map);
    
</script>

