<div style="width: 100%; height: 844px; background-color: #2d2d2d;">
    <nav>
        <div class="comunity_nav">
            <div style="cursor: default;" onclick="location.href='/friends';">나의 러닝메이트</div>
            <div style="color: #ffffff; border-bottom: solid #747474 2px; cursor: default;" onclick="location.href='/course';">러닝 코스</div>
            <div style="cursor: default;" onclick="location.href='/community';">게시판</div>
        </div>
    </nav>
    <section>
        <div style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px; padding-top: 30px;">
            <div style="display: flex; gap: 5px;">
                <div style="font-size: 20px; font-weight: 600; color: #CAFFF7;">나의 러닝코스 1</div>
                <div><img src="images/Pin_light.png" alt=""></div>
            </div>
            <div style="color: #E4F2F0; font-size: 14px;" onclick="location.href='/course_list'">더보기 ></div>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
            <div class="myCurrentRecord_1">
                <img src="images/Mask_group.png" alt="">
            </div>
            <div class="myCurrentRecord">
                <div>러닝코스 2</div>
                <div>...</div>
            </div>
            <div class="myCurrentRecord">
                <div>러닝코스 3</div>
                <div>...</div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;" onclick="location.href='/courseshare';">
            <div style="background-color: #2d2d2d; width: 360px; height: 65px; border-radius: 999px; margin-top: 30px; border: 2px solid #66ffe3;">
                <div style="display: flex; text-align: center;">
                    <div style="font-size: 25px; font-weight: 700; color: #66ffe3; margin-top: 13px; margin-left: 47px;">러닝코스 공유하기</div>
                    <div class="board_menu1" style="margin-top: 12px; margin-left: 15px;">
                        <div class="board_menu2">
                            <div style="width: 40px; height: 40px; justify-content: center; display: flex;"><img style="background-color: #2d2d2d;" src="images/Send_light.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div style="width: 296px; height: 550px; background-color: #424242; justify-content: right; padding-top: 20px; border-radius: 0 0 0 10px;" id="hamburger" class="modal">
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
        <div onclick="location.href='/information';" style="margin-top: 7px; margin-left: 23px; color: #D9D9D9; ">
            나의 러닝프로필
        </div>
        <div onclick="location.href='/friends';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                나의 러닝메이트
            </div>
            <div onclick="location.href='/course';"style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                러닝코스
            </div>
            <div onclick="location.href='/community';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                게시판
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="images/Line 3.png" alt="" style="margin-top: 35px;">
        </div>
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
            <div onclick="location.href='/record';" style="margin-top: 35px; margin-left: 23px; color: #D9D9D9;">
                나의 러닝기록
            </div>
            <div onclick="location.href='/gps';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                GPS
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="images/Line 3.png" alt="" style="margin-top: 35px;">
        </div>
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
            <div onclick="location.href='/setting';"style="margin-top: 35px; margin-left: 23px; color: #D9D9D9;">
                설정
            </div>
            <div onclick="location.href='/login';"style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                로그아웃
            </div>
        </div>
</div>