<div style="width: 100%; height: 844px; background-color: #2d2d2d;">    <img src="images/Vector 9.png" alt="" style="width: 14px; height: 28px; margin-top: 15px; margin-left: 10px;">
<img src="images/Line 1.png" alt="">
<div style="font-family: Pretendard Variable; font-size: 13px; font-weight: 500; line-height: 14px; letter-spacing: -0.5px; color:#E8FFFC; margin-left: 29px; padding-top: 8px;">
    2024. 11. 2. - 오전 1:45
</div>
<div style="display: flex;">
    <div style="font-family: Pretendard Variable; font-size: 23px; font-weight: 900; line-height: 14px; letter-spacing: -0.5px; color:#E8FFFC; margin-left: 26px; padding-top: 12px;">
        토요일 야간 러닝
    </div>
    <div style="margin-left: 123px;">
        <img src="images/free-icon-pencil-tool-7632600.png" alt="" style="width: 26px; height: 26px; padding-top: 7px; ">
    </div>
</div>
<div style="font-family: Pretendard Variable; font-size: 13px; font-weight: 500; line-height: 5px; letter-spacing: -0.5px; color:#E8FFFC; margin-left: 29px; padding-top: 10px;">
    서울과학기술대학교 -> 서울과학기술대학교
</div>
<div style="display: flex; justify-content: center;">
    <img src="images/Line 4.png" alt=""  style="margin-top: 15px;">
</div>
<div style="display: flex; margin-top: 50px;" class="score-container">
    <div id="score" style="margin: 0 20px; font-family: Pretendard Variable; font-size: 65px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: left; color: #66FFE3;">
        100
    </div>
    <div style="font-size: 16px; text-align: left; margin-top: 17px; margin-left: 10px; font-family: Pretendard Variable; font-size: 25px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: left; color: #66FFE3;">
        점
    </div>
</div>
<div style=" display: flex; justify-content: left; margin-top: 40px;" >
    <div style="margin: 0 20px; font-family: Pretendard Variable; font-size: 23px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: left; color: #66FFE3;">
        3.00
        <div style="font-size: 13px; text-align: left; padding-top: 8px;">
            킬로미터
        </div>
    </div>
    <div style="margin: 0 20px; font-family: Pretendard Variable; font-size: 23px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: left; color: #66FFE3;">
        5'24"
        <div style="font-size: 13px; text-align: left; padding-top: 8px;">
            평균 페이스
        </div>
    </div>
    <div style="margin: 0 20px; font-family: Pretendard Variable; font-size: 23px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: left; color: #66FFE3;">
        16:14
        <div style="font-size: 13px; text-align: left; padding-top: 8px;">
            시간
        </div>
    </div>
    <div style="margin: 0 20px; font-family: Pretendard Variable; font-size: 23px; font-weight: 600; line-height: 14px; letter-spacing: -0.5px; text-align: left; color: #66FFE3;">
        227
        <div style="font-size: 13px; text-align: left; padding-top: 8px;">
            칼로리
        </div>
    </div>
</div>
<div style="display: flex; justify-content: center;">
    <div  style="background-color: white; width: 330px; height: 300px; border-radius: 10px; margin-top: 30px;">
        
    </div>
</div>
<script src="js/score.js"></script>