<div style="width: 100%; height: 844px; background-color: #2d2d2d;">
    <div style="width: 296px; height: 550px; background-color: #424242; justify-content: right; padding-top: 20px; border-radius: 0 0 0 10px;" id="hamburger" class="modal">
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
        <div onclick="location.href='/information';" style="margin-top: 7px; margin-left: 23px; color: #D9D9D9; ">
            나의 러닝프로필
        </div>
        <div onclick="location.href='/friends';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                나의 러닝메이트
            </div>
            <div onclick="location.href='/course';"style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                러닝코스
            </div>
            <div onclick="location.href='/community';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                게시판
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="images/Line 3.png" alt="" style="margin-top: 35px;">
        </div>
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
            <div onclick="location.href='/record';" style="margin-top: 35px; margin-left: 23px; color: #D9D9D9;">
                나의 러닝기록
            </div>
            <div onclick="location.href='/gps';" style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                GPS
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <img src="images/Line 3.png" alt="" style="margin-top: 35px;">
        </div>
        <div style="font-family: Pretendard Variable;
        font-size: 18px;
        font-weight: 600;
        line-height: 14px;
        letter-spacing: -0.5px;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        ">
            <div onclick="location.href='/setting';"style="margin-top: 35px; margin-left: 23px; color: #D9D9D9;">
                설정
            </div>
            <div onclick="location.href='';"style="margin-top: 22px; margin-left: 23px; color: #D9D9D9;">
                로그아웃
            </div>
        </div>
    </div>
    <nav>
        <div class="comunity_nav">
            <div style="color: #ffffff; border-bottom: solid #747474 2px; cursor: default;" onclick="location.href='/friends';">나의 러닝메이트</div>
            <div style="cursor: default;" onclick="location.href='/course';">러닝 코스</div>
            <div style="cursor: default;" onclick="location.href='/community';">게시판</div>
        </div>
    </nav>
    <section>
        <div style="padding-top: 25px;">
            <div class="comunity1_section1">
                <div style="width: 123px; height: 98px; border-radius: 10px; background-color: #D6FFF8; display: flex; justify-content: center; align-items: center;">
                    <img src="images/Group 32.png" alt="">
                </div>
                <div style="font-size: 20px; font-weight: 600; color: #FFFFFF;">
                    <div>끝까지 달리는 러너</div>
                    <div><span style="font-size: 24px; font-weight: 700; color: #66FFE3;">XXX</span> 님, 반가워요!</div>
                    <div style="font-size: 16px; font-weight: 500;">나의 러닝 온도 <span style="font-weight: 400; color: #66FFE3;">xx°</span></div>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; padding-left: 20px; padding-right: 20px; padding-top: 30px;">
                <div style="font-size: 20px; font-weight: 600; color: #CAFFF7;">나의 러닝메이트</div>
                <div style="color: #E4F2F0; font-size: 14px;" onclick="location.href='/friends_list';">더보기 ></div>
            </div>
            <div style="display: flex; justify-content: space-between; margin-left: 20px; margin-right: 20px; margin-top: 15px;">
                <div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                </div>
                <div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                    <div class="comunity1_article1">
                        <div style="display: flex; align-items: center; gap: 10px; padding-left: 10px;">
                            <div style="width: 28px; height: 28px; display: flex; align-items: center;">
                                <img src="images/User_cicrle_light.png" alt="">
                            </div>
                            <div>이름</div>
                        </div>
                        <div style="padding-right: 10px;">온도</div>
                    </div>
                </div>
            </div>
            <div style="font-size: 20px; font-weight: 600; margin-left: 20px; margin-top: 20px; color: #CAFFF7;">러닝메이트 추가하기</div>
            <div style="display: flex; justify-content: space-between; margin-left: 20px; margin-right: 20px; margin-top: 20px;">
                <div class="comunity1_article2" onclick="location.href='/find_friends'">
                    <div>우리동네</div>
                    <div>러닝메이트 찾기</div>
                    <div style=" display: flex; justify-content: right;">
                        <img src="images/Vector 450.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>