<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
</head>
<body class="s_background">
    <div>
        <div style="font-size: 20px; color: #A4E3D8; font-weight: 700; margin-left: 10px;">이주의 이동 내역</div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div  style="background-color: #F5F5F5; width: 346px; height: 340px; border-radius: 10px; margin-top: 15px;">
        
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div  style="background-color: #646464; width: 346px; height: 48px; border-radius: 10px; margin-top: 15px;">
            <div style="font-size: 16px; color: #E8FFFC; margin-left: 10px; margin-top: 10px; font-weight: 500; font-family: Pretendard Variable;">
                뚝섬유원지 > 여의도 > 반포한강공원
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center;">
        <div  style="background-color: #646464; width: 346px; height: 48px; border-radius: 10px; margin-top: 5px;">
            <div style="font-size: 16px; color: #E8FFFC; margin-left: 10px; margin-top: 10px; font-weight: 500; font-family: Pretendard Variable;">
                청계천 > 광하문
            </div>
        </div>
    </div>
      <script src="button.js"></script>
</body>
</html>