<!-- <nav style="display: flex; padding-right: 10px; justify-content: center;">
    <a href="/course">코스 보기</a>
    <a> </a>
    <a href="/course/add">코스 공유</a>
</nav>
-->
<div style="width: 100%; height: 844px; background-color: #2d2d2d;">
    <section>
        <div style="padding-top: 30px;">
            <div style="display: flex; justify-content: space-between; padding-left: 10px; padding-right: 10px;">
                <div style="font-size: 18px; font-weight: 600; color: #CAFFF7;">최근 나의 러닝기록</div>
                <div style="color: #E4F2F0; font-size: 14px;">더보기 ></div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
                <div class="myCurrentRecord">
                    <div>xxxx-xx-xx</div>
                    <div>반포한강공원 > 여의도</div>
                    <div>1.6 km</div>
                </div>
                <div class="myCurrentRecord">
                    <div>xxxx-xx-xx</div>
                    <div>반포한강공원</div>
                    <div>0.9 km</div>
                </div>
                <div class="myCurrentRecord">
                    <div>xxxx-xx-xx</div>
                    <div>동광로 3길 > 잠원 27번...</div>
                    <div>1.2 km</div>
                </div>
            </div>
            <div style="display: flex; justify-content: space-between; padding-left: 10px; padding-right: 10px; margin-top: 40px;">
                <div style="font-size: 18px; font-weight: 600; color: #CAFFF7;">GPS 기록</div>
                <div style="color: #E4F2F0; font-size: 14px;">더보기 ></div>
            </div>
        </div>
    </section>