<h1> Hello, Runus!</h1>

<nav style="display: flex; padding-right: 10px; justify-content: center;">
    <a href="/">홈</a>
    <a href="/community">커뮤니티</a><br>
    <a href="/friends">친구</a>
    <a href="/running">측정</a>
    <a href="/record">기록</a>
</nav>
<nav style="display: flex; padding-right: 10px; justify-content: center;">
    <a href="/course">코스 보기</a>
    <a> </a>
    <a href="/course/add">코스 공유</a>
</nav>