
<div class="d_header">
    <span>RUN</span>
    <span style="text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; color: #ffffff;">US</span>
</div>
<form action="/login" method="POST">
    <div class="d_main">
        <div><input style="width: 350px; height: 50px; border-radius: 0%; border: solid lightgray 2px;" type="text" name="email" placeholder="아이디 또는 이메일"></div>
        <div><input style="width: 350px; height: 50px; border-radius: 0%; border: solid lightgray 2px;" type="password" name="password" placeholder="비밀번호"></div>
        <div class="d_losang"><input type="checkbox"><label style="padding-left: 3px; padding-top: 3px; font-size: 12px;" for="상태유지">로그인 상태 유지</label></div>
        <div><button class="d_submitbutton" onclick="" type="submit">로그인</button></div>
</form>
<div class="d_footer">
    <div class="d_leftfooter">
        <div style="cursor: default;" onclick="location.href='/index.com';">회원가입</div>
    </div>
    <div class="d_rightfooter">
        <div style="cursor: default;" onclick="location.href='/index.com';">비밀번호 찾기</div>
    </div>
</div>