<div class="header">
    <span>run</span>
    <span style="text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; color: #ffffff;">us</span>
</div>
<form action="/login" method="POST">
    <div class="main">
        <div><input style="width: 350px; height: 50px; border-radius: 0%; border: solid lightgray 2px;" type="text" placeholder="아이디 또는 이메일"></div>
        <div><input style="width: 350px; height: 50px; border-radius: 0%; border: solid lightgray 2px;" type="password" placeholder="비밀번호"></div>
        <div class="losang"><input type="checkbox"><label style="padding-left: 3px; padding-top: 3px; font-size: 12px;" for="상태유지">로그인 상태 유지</label></div>
        <div><button class="submitbutton" onclick="" type="submit">로그인</button></div>
    </div>
</form>
<div class="footer">
    <div class="leftfooter">
        <div style="cursor: default;" onclick="location.href='/index.com';">회원가입</div>
    </div>
    <div class="rightfooter">
        <div style="cursor: default;" onclick="location.href='/index.com';">비밀번호 찾기</div>
    </div>
</div>