<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
</head>
<body class="s_background">
    <div class="s_group">
        <div style="font-size: 20px; color: #595959; font-weight: 700; margin-left: 10px;">모임 1</div>
        <div style="font-size: 14px; color: #595959; margin-top: 6.3px; font-weight: 520; margin-right: 20px;" onclick="location.href='index1.html'">더보기 ></div>
    </div>
    <div class="s_container-5" style="margin-top: 20px; border: 1px solid #E3E3E3; border-radius: 999px; margin-left: 8px; width: 240px; height: 32px;">
        <button class="s_button-4" value="0">
            거리순
        </button>
        <button class="s_button-4" value="1">
             속도순
        </button>
        <button class="s_button-4" value="2">
            러닝매너
        </button>
        <button class="s_button-4" value="3">
            활동
        </button>
    </div>
    <div id="s_distance-2" class="s_mode_3">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
    <div id="s_velocity-2" class="s_mode_3">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
    <div id="s_manner-2" class="s_mode_3">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
    <div id="s_activity-2" class="s_mode_3">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
    <div class="s_group" style="margin-top: 50px;">
        <div style="font-size: 20px; color: #595959; font-weight: 700; margin-left: 10px;">모임 2</div>
        <div style="font-size: 14px; color: #595959; margin-top: 6.3px; font-weight: 520; margin-right: 20px;" onclick="location.href='index1.html'">더보기 ></div>
    </div>
    <div class="s_container-4" style="margin-top: 20px; border: 1px solid #E3E3E3; border-radius: 999px; margin-left: 8px; width: 240px; height: 32px;">
            <button class="s_button-5" value="0">
                거리순
            </button>
            <button class="s_button-5" value="1">
                 속도순
            </button>
            <button class="s_button-5" value="2">
                러닝매너
            </button>
            <button class="s_button-5" value="3">
                활동
            </button>
    </div>
    <div id="s_distance-3" class="s_mode_4">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
    <div id="s_velocity-3" class="s_mode_4">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
    <div id="s_manner-3" class="s_mode_4">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
    <div id="s_activity-3" class="s_mode_4">
        <div style="display: flex; justify-content: center;">
            <div  style="background-color: #F5F5F5; width: 360px; height: 230px; border-radius: 10px; margin-top: 15px;">
            
            </div>
        </div>
    </div>
</div>
      <script src="r_button.js"></script>
</body>
</html>