
    <% running.forEach(record => { %>
        <h2> 뛴 시각: <%= record.date %> </h2>  
        <h3> 뛴 거리: <%= record.distance %> </h2>
        <h3> 뛴 시간: <%= record.time %> </h2>
          
        <br>
    <% }) %>
