<h3>러닝 기록</h3>

<form action="/running" method="POST">
  <label for="distance"><b>뛴 거리</b></label>
  <input type="text" name="distance" id="distance">

  <label for="time"><b>뛴 시간</b></label>
  <input type="text" name="time" id="time">

  <input type="submit" value="로그인" class="btn">
</form> 