<div style="width: 100%; height: 100%; background-color: #2d2d2d;">
    <div class="startpage_title">RUNUS</div>
    <div class="startpage_firstimg">
        <img src="images/Group 8744.png" alt="">
    </div>
    <div class="startpage_secondimg">
        <img src="images/Group 8745.png" alt="">
    </div>
    <div style="cursor: default;" onclick="location.href='/start/1';" class="startpage_startbutton">Run with us!</div>
</div>