@font-face {
    font-family: ethnocentric-font;
    src: url('/font/ethnocentric\ rg.ttf');
}
.d_header {
    font-family: ethnocentric-font;
    color: #fcb101;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
::placeholder {
    color: lightgray;
    font-size: 16px;
    padding-left: 10px;
}
.d_main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.d_main>div {
    margin: 7px;
}
.d_losang {
    width: 360px;
    padding: 0%;
    display: flex;
    margin: auto;
}
.d_submitbutton {
    width: 355px;
    height: 55px;
    background-color: #fcb101;
    border: solid black 1px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
}
.d_footer {
    width: 360px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-size: 12px;
    padding-top: 7px;
}
.d_leftfooter {
    display: flex;
    color: gray;
}
.d_rightfooter>div {
    display: flex;
    padding-left: 11px;
}
.d_rightfooter {
    display: flex;
    color: gray;
}
.navitem:active {
    color: gray;
    border-bottom: solid gray 2px;
}